<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/tailwind.css" rel="stylesheet">
</head>
<body>

<div class="space-y-8">

    <div class="border-b-0 rounded-tl-none rounded-tr-none h-12 p-2 clearfix">
        <div class="rounded-full h-12 w-12 circle bg-green float-left">
            <img id="avatar" class="object-contain h-12 " src="img/male.jpeg">
        </div>
        <div class="rounded-full h-6 w-12 circle bg-green float-left">
            Tim
        </div>
        <div class="rounded-full h-12 w-12 circle bg-green float-right">
            <img class="object-contain h-12 " src="img/icon-menu-512.png">
        </div>
    </div>

    <div class="mt-4 border-b-0 rounded-tl-none rounded-tr-none p-0 h-6 clearfix text-center">
        <p class="mt-4 ml-4 text-left font-bold">
            My accepted requests
        </p>
    </div>

    <div class="ml-4 mr-4 rounded-lg border-b-0 h-24 p-2 clearfix bg-gray-300" th:each="request : ${myAcceptedRequests}">
        <div class="rounded-full h-12 w-12 circle bg-gray-400 float-left">
            <img class="object-contain h-12 " src="img/elder_male1.png">
        </div>
        <div class="ml-4 rounded-full h-6 circle bg-green float-left">
            <span th:text="${request.requestType}"/>
        </div>

        <div class="rounded-full h-6 w-full circle bg-green float-left">
            <div class="text-gray-400 ml-4 rounded-full h-6 w-15 circle bg-green float-right">
                <span th:text="${request.elderlyName}"/></div>
        </div>
    </div>
    <div class="mt-4 border-b-0 rounded-tl-none rounded-tr-none p-0 h-6 clearfix text-center">
        <p class="mt-4 ml-4 text-left font-bold">
            Open requests:
        </p>
    </div>
    <div class="ml-4 mr-4 rounded-lg border-b-0 h-24 p-2 clearfix bg-gray-300" th:each="request : ${openRequests}">
        <div class="rounded-full h-12 w-12 circle bg-gray-400 float-left">
            <img class="object-contain h-12 " src="img/elder_male1.png">
        </div>
        <div class="ml-4 rounded-full h-6 circle bg-green float-left">
            <span th:text="${request.requestType}"/>
        </div>

        <div class="rounded-full h-6 w-full circle bg-green float-left">
            <div class="text-gray-400 ml-4 rounded-full h-6 w-15 circle bg-green float-right">
                <span th:text="${request.elderlyName}"/></div>
        </div>
    </div>
</div>

<script>

        document.getElementById("avatar").onclick = function() {

                window.location.href = "index.html";

        };
    </script>

</body>
</html>